<head>
  <meta charset="UTF-8"/>
  <title>Notice Board</title>
</head>


<body>

  <div class="container">
    <header>
      <h1>Notice Board</h1>
    </header>

    <ul>
      <li>
        <form action="#">
          <input class="form-control" placeholder="Add new notice" type="text" value=""/>
        </form>
      </li>

      <li>
        <span class="notice">Very important notice.</span>
        <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
        <span class="like ">
          <i class="glyphicon glyphicon-heart"></i>
          <span class="like-count">40</span>
        </span>
      </li>
      <li>
        <span class="notice">Very important notice.</span>
        <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
        <span class="like ">
          <i class="glyphicon glyphicon-heart"></i>
          <span class="like-count">40</span>
        </span>
      </li>
      <li>
        <span class="notice">Very important notice.</span>
        <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
        <span class="like ">
          <i class="glyphicon glyphicon-heart"></i>
          <span class="like-count">40</span>
        </span>
      </li>
      <li>
        <span class="notice">Very important notice.</span>
        <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
        <span class="like ">
          <i class="glyphicon glyphicon-heart"></i>
          <span class="like-count">40</span>
        </span>
      </li>
    </ul>

  </div>

</body>
