<template name="noticeList">
  <header>
    <h1>Notice Board
      {{#if currentUser}}
      <span class='logout'>(<a href="#">Log out</a>)</span>
      {{/if}}
    </h1>
  </header>

  <ul class="notices">
    <li>
      {{#if currentUser}}
      <form action="#">
        <input class="form-control add-notice" placeholder="Add new notice" type="text" value=""/>
      </form>
      {{else}}
      {{> loginButtons}}
      {{/if}}
    </li>


    {{#each notices}}
    <li>
      <span class="notice">
        <a href="{{pathFor 'notice' id=_id}}">{{body}}</a>
      </span>
      <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
      <span class="like ">
        <i class="glyphicon glyphicon-heart"></i>
        <span class="like-count">{{like_count}}</span>
      </span>
    </li>
    {{/each}}

  </ul>

</template>
