<template name="noticeList">
  <ul>
    <li>
      <form action="#">
        <input class="form-control" placeholder="Add new notice" type="text" value=""/>
      </form>
    </li>


    {{#each notices}}
    <li>
      <span class="notice">{{body}}</span>
      <span class="delete"><i class="glyphicon glyphicon-trash"></i></span>
      <span class="like ">
        <i class="glyphicon glyphicon-heart"></i>
        <span class="like-count">{{likeCount}}</span>
      </span>
    </li>
    {{/each}}

  </ul>

</template>
